@import 'tailwindcss';

@font-face {
  font-family: 'OstrichSansHeavy';
  src: url('/ostrich-sans-heavy.otf') format('opentype');
}

@font-face {
  font-family: 'ChirpRegularWeb';
  src: url('/chirp-regular-web.woff') format('woff');
}

@font-face {
  font-family: 'ChirpBoldWeb';
  src: url('/chirp-bold-web.woff') format('woff');
}

@theme {
  --animate-fadein: fadeIn 1s ease;
  --animate-slideup: slideUp 0.25s ease;
  --animate-slideup-fadein: slideUp 0.75s ease, fadeIn 0.75s ease;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(0.15em);
    }
    100% {}
  }
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
